{{#if capabilities.prompts}}
<h2>📝 Prompts ({{len prompts}})</h2>

<table style="text-align: left;">
    <thead>
        <tr>
            <th style="width: auto;"></th>
            <th style="width: auto;">Prompt Name</th>
            <th style="width: auto;">Description</th>
        </tr>
    </thead>
    <tbody style="vertical-align: top;">
        {{#each prompts}}
        <tr>
            <td>{{plus_one @index}}.</td>
            <td>
                <code><b>{{{this.name}}}</b></code>
            </td>
            <td>{{{replace_regex (replace_regex this.description "'([\\w\\-\\_]+)'" "<code>$1</code>")
                "\\[([\\w\\-\\_]+)\\]" "<code>$1</code>"}}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}